/* * {
    border: 1px solid red;
} */

a:link, a:visited, a:hover, a:active {
    font-size: 18px;
    color: #E5E7EB;
}

a:link, a:visited {
    text-decoration: none;
  }

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 10px
}

.awesome-website-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.awesome-website-secondary-text {
    margin-top: 0;
}

.awesome-website-and-picture {
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    text-align: center;
    background-color: #3882F6;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 15px;
}



.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 100px 0;
}

.random-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.random-pictures {
    display: flex;
    gap: 20px
}

.random-picture {
    border-radius: 25px;
}

.random-picture#picture-1 {
    filter: brightness(10%);
}
.random-picture#picture-2 {
    filter: brightness(30%);
}
.random-picture#picture-3 {
    filter: brightness(100%);
}
.random-picture#picture-4 {
    filter: brightness(300%);
}



.quote-div {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 50px 0 50px 0;
}
.quote {
    display: inline-flex;
    flex-direction: column;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0;
}
.quote-credits {
    font-weight: 900;
    margin-top: 0;
    align-self: flex-end;
}